/* Generics */
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/@scsa/styles/src/generic/border-box.css";
@import "../node_modules/@scsa/styles/src/generic/font-family.css";
@import "../node_modules/@scsa/styles/src/generic/fullBleed-body.css";
/* Modules */
@import "../node_modules/@scsa/styles/src/modules/Button.css";
@import "../node_modules/@scsa/styles/src/modules/Logger.css";

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
