/* Generics */
@import "../node_modules/normalize.css/normalize.css";
@import "../lib/styles/src/generic/border-box.css";
@import "../lib/styles/src/generic/font-family.css";
@import "../lib/styles/src/generic/fullBleed-body.css";
/* Modules */
@import "../lib/styles/src/modules/Button.css";

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
