@import "~@scsa/styling/src/client/styles/index.css";

.Utils--fullBleed {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Utils__expand {
    flex-grow: 1;
    position: relative;
}

.Utils__footer {
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
