@import "~@scsa/styling/src/client/styles/index.css";

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
