extends ../../../node_modules/@scsa/styling/src/server/views/fragment.pug

block body
    if req.params.partial === "controls"
        include ./partials/controls
    else
        include ./partials/entry
