extends ../../../node_modules/@scsa/styling/src/server/views/blank.pug

block body
    body
        main
        .Logger(data-logger='')
        footer
            button.Button.Button--fullBleed
                | Purchase
                span


