.Utils.Utils--fullBleed
    .Utils__expand
        slot(name="products")
        .Logger.Logger--stickyBottom(data-logger)
    .Utils__footer
        button.Button
            | Purchase
            span
